.cover__subtitle {
    margin: 0;
    position: relative;
    text-align: center;
    padding-top: 32px;
    font-size: 18px;
    line-height: calc(22 / 18);
    max-width: 360px;
}

@media screen and (max-width: 320px) {
    .cover__subtitle {
        width: 265px;
        font-size: 14px;
        padding-top: 16px;
    }
}